<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculos</title>
</head>
<body>
    <h1>Resultados de {{num1}} e {{num2}}</h1>
    <p>Soma: {{soma}}</p>
    <p>Subtração: {{sub}}</p>
    <p>Multiplicação: {{mult}}</p>
    <p>Divisão: {{div}}</p>
    <p>Divisão Inteira: {{div_int}}</p>
    <p>Raiz: {{raiz}}</p>
    <p>Resto da Divisão: {{resto}}</p>
    <a href='/'>Voltar</a>

</body>
</html>