<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculos</title>
</head>
<body>
    <h1>Resultados de {{num1}} e {{num2}}</h1>
    <p>Soma: {{resultados['soma']}}</p>
    <p>Subtração: {{resultados['sub']}}</p>
    <p>Multiplicação: {{resultados['mult']}}</p>
    <p>Divisão: {{resultados['div']}}</p>
    <p>Divisão Inteira: {{resultados['div_int']}}</p>
    <p>Raiz: {{resultados['raiz']}}</p>
    <p>Resto da Divisão: {{resultados['resto']}}</p>
    <a href='/'>Voltar</a>

</body>
</html>