<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deletar</title>
</head>
<body>
    <form action="{{caminho}}" method="post">
        <div class="form-group">
            <label for="">ID: </label>
            <input type="text" name="id" id="id" class="form-group"/>
            <br>
        </div>
        <input type="submit" value="Deletar" class="form-group"/>

    </form>
</body>
</html>