<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form action="/listar">
            <input type="submit" value="Pessoa">
        </form>
        <br>
        <form action="/endereco">
            <input type="submit" value="Endereco">
        </form>
        <br>
        <form action="/cadastro">
            <input type="submit" value="Cadastro Pessoa">
        </form>
        <br>
        <form action="/cadastro-endereco">
            <input type="submit" value="Cadastro Endereco">
        </form>
        <br>
        <form action="/deletar-pessoa">
            <input type="submit" value="Deletar Pessoa">
        </form>
        <br>
        <form action="/deletar-endereco">
            <input type="submit" value="Deletar Endereco">
        </form>
    </div>
</body>
</html>