<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Pessoas</title>
</head>
<body>
    <div class=".container">
        <table id="tabela_pessoa_end">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                    <th>Endereco Id</th>
                    <th>Logradouro</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tbody>
                {% for p in lista %}
                <tr>
                    <td>{{ p.id}}</td>
                    <td>{{ p.nome}}</td>
                    <td>{{ p.sobrenome}}</td>
                    <td>{{ p.idade}}</td>
                    <td>{{ p.endereco.id }}</td>
                    <td>{{ p.endereco.logradouro}}</td>
                    <td>{{ p.endereco.numero}}</td>
                    <td>{{ p.endereco.complemento}}</td>
                    <td>{{ p.endereco.bairro}}</td>
                    <td>{{ p.endereco.cidade}}</td>
                    <td>{{ p.endereco.cep}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>